[Unit]
Description=nvitop-exporter
After=network.target

[Service]
ExecStart=pipx run nvitop-exporter --bind-address 0.0.0.0 --port 5050 --hostname lab.yeungs.net
Restart=on-failure
WorkingDirectory=/var/lib/prometheus
User=prometheus

[Install]
WantedBy=multi-user.target
